.app-content
  width: 100%
  max-width: 500px

  form
    padding: 15px

md-card
  margin: 15px

  .meta
    padding: 15px

    h3
      word-break: break-all

      .author
        font-size: .5em

    p

      .tag

        &:after
          content: ','
          text-decoration: none
          display: inline-block
          color: #000
          margin-right: 10px

        &:last-child

          &:after
            display: none
            margin-right: 0